<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gym Management Web Application</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href="https://fonts.cdnfonts.com/css/writing-signature" rel="stylesheet">
</head>

@{
    var currentController = ViewContext.RouteData.Values["controller"] as string;
    var currentAction = ViewContext.RouteData.Values["action"] as string;
}

<body>
    <div class="main-Background">
        <div class="side-Bar">
            <div class="image-Logo">
                <img src="/images/logo.png" alt="Logo">
            </div>
            <ul class="list-Navigation">
                <li class="btn-style @(currentController == "Dashboard" && currentAction == "Index" ? "active" : "")">
                    <img src="/images/DashboardBefore.png" alt="Dashboard Icon" />
                    <a href="/Dashboard/Index"><b>Dashboard</b></a>
                </li>
                <li class="btn-style @(currentController == "Members" && currentAction == "Index" ? "active" : "")">
                    <img src="/images/MembersBefore.png" alt="Members Icon" />
                    <a href="/Members/Index"><b>Members</b></a>
                </li>
                <li class="btn-style @(currentController == "Resource" && currentAction == "Index" ? "active" : "")">
                    <img src="/images/ResourceBefore.png" alt="Resource Icon" />
                    <a href="/Resource/Index"><b>Resource</b></a>
                </li>
                <li class="btn-style @(currentController == "Messages" && currentAction == "Index" ? "active" : "")">
                    <img src="/images/MessageBefore.png" alt="Message Icon" />
                    <a href="/Messages/Index"><b>Messages</b></a>
                </li>
                <li class="btn-style @(currentController == "Classes" && currentAction == "Index" ? "active" : "")">
                    <img src="/images/ClassesBefore.png" alt="Classes Icon" />
                    <a href="/Classes/Index"><b>Classes</b></a>
                </li>
                <li class="btn-style @(currentController == "Settings" && currentAction == "Index" ? "active" : "")">
                    <img src="/images/SettingBefore.png" alt="Settings Icon" />
                    <a href="/Settings/Index"><b>Settings</b></a>
                </li>
            </ul>
        </div>
        <div class="main-Content">
            @RenderBody()
        </div>
    </div>

  
    @RenderSection("Scripts", required: false)
</body>
</html>
