@model WebApplication1.Models.ViewModels.DashboardViewModel


@{
    ViewData["Title"] = "Dashboard";
    Layout = "/Pages/_Layout.cshtml";
    var entryLogsPerDayJson = Newtonsoft.Json.JsonConvert.SerializeObject(Model.EntryLogsPerDay.Values);
}


<style>
    .dashboard-Background {
        width: 100%;
        /* margin: 2%; */
        /* margin-top: 2.5%; */
        /* margin-left: 2.3%; */
        padding: 30px;
        display: flex;
        height: 100%;
    }

    .welcome-Dashboard h2 {
        margin-bottom: 0px;
    }

    .welcome-Dashboard p {
        opacity: 0.7;
    }

    .upperDashboardBar {
        height: 20%;
        width: 95%;
        display: flex;
        justify-content: space-between;
        color: #525252;
    }

    .headingDashboard h3{
        font-weight: bolder;
    }

    .BarBox {
        background-color: white;
        width: 30%;
        height: 85px;
        border-radius: 6px;
        box-shadow: 0 0 8px #525252;
        display: flex;
        transition: background 0.5s; /* Use transition on background property */
        position: relative;
        overflow: hidden;
        z-index: 1;    
    }

        .BarBox::before {
            content: '';
            position: absolute;
            top: 0;
            right: 100%; /* Initially position it outside the container on the right */
            width: 100%;
            height: 100%;
            background: linear-gradient(to left, #525252, #525252); /* Solid color */
            transition: right 0.5s; /* Use transition on right property */
            background-size: 200% 100%; /* Double the width of the gradient */
        }

        .BarBox:hover::before {
            right: 0; /* Slide in from the right on hover */
        }

        .BarBox:hover {
            transition: 0.5s;
            color: white;
        }


    .BarBox-Icon {
        z-index: 2;
        width: 30%;
        height: 100%;
        border-radius: 6px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 8px #525252;
    }

    .BarBox-Icon img {
        width: 45%;
    }

    .BarBox-Values {
        z-index: 2;
        display: grid;
        align-items: center;
        justify-content: center;
        width: 65%;
        text-align: center;
    }

        

    .BarBox-Values h1 {
        margin-top: 8px;
        margin-bottom: 0px;
        font-weight: bold;
    }

    .BarBox-Values p {
        opacity: 0.9;
        border-radius: 5px;
        padding: 0px 5px;
        margin-top: 0px;
        font-weight: bold;
    }


    /*Second Box*/
    .middleLayer-Dashboard {
        height: 30%;
        width: 100%;
        display: flex;
    }

    /* .firstBarGraph {
        margin: 7px 0px;
        background-color: transparent;
        border-radius: 6px;
        height: 100%;
        width: 40%;
        box-shadow: 0 0 8px #525252;
        

        display: flex;
        align-items: center;
        justify-content: center;
    } */

   
    .text-Design {
        text-align:left;
    }

    .lastLayer-Dashboard {
        width: 95%;
        height: 30%;
        background-color: transparent;
        display: flex;
        justify-content: space-between;
    }

    /* .firstBox {
        width: 30%;
        border-radius: 6px;
        height: 170px;
        background-color: white;
        box-shadow: 0 0 8px #525252;
    }

    .firstBox-Upper {
        height: 50%;
        width: 100%;
        /* background-color: red; */
        display: flex;
    } */

    .imageContent {
        height: 100%;
        width: 50%;
        margin: 0 20px;
        /* background-color: yellow; */
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .imageContent h1 {
        margin: 0px;
    }

    .textContent {
        height: 100%;
        width: 30%;
        margin: 0;
        text-align: right;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .textContent h1 {
        margin: 0px;
    }

    .textContentDescription{ 
        margin: 0px;
        margin-right: 20px;
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .textContentDescription p {
        margin: 0px;
    }

    .textContentLower {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .textContentLower h4 {
        margin: 0;
        margin-left: 20px;
    }

    .textContentDescriptionLower {
        width: 50%;
        text-align: center;
    }

    .textContentDescriptionLower p {
        margin: 0px;
        margin-left: 38px;
        color: #FFCC00;
            background-color: #ffeb98;
        padding: 1px 22px;
        border-radius: 15px;
        display: inline-block;
    }

</style>

<style>
    .left-dashboard { 
        /* background-color: red; */
        height: 100%;
        width: 80%;
        padding: 15px;
    }

    .right-dashboard {
        padding: 15px;
        /* background-color: blue; */
        height: 100%;
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .right-dashboard-box {
        border-radius: 5px;
        /* background-color: yellow; */
        opacity: 0.4;
        width: 100%;
        height: 28%;
        /* margin: 10px 0; */
    }

    .left-dashboard-upper {
        background-color: #3DD9EB;
        height: 25%;
        width: 100%;
        opacity: 0.3;
        border-radius: 7px;
        /* padding: 30px; */
        /* padding-top: 600px; */
    }

    .left-dashboard-middle {
        display: flex;
        height: 60%;
        /* padding: 20px; */
    }

    .firstBarGraph {
        /* margin: 7px 0px; */
        background-color: transparent;
        /* border-radius: 6px; */
        height: 100%;
        width: 40%;
        /* border: 1px solid #ECECEC; */
        /* box-shadow: 0 0 5px rgba(236, 236, 236, 0.5); /* Very light shadow */ */
        /* box-shadow: 0 0 8px #525252; */
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
    }

    .Graph-Canvas {
        width: 100%;
        height: 100%;
        border: 2px solid #ECECEC;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* padding: 30px; */
    }

        .Graph-Canvas canvas {
            text-align: center;
            /* Add margin to space out the h2 */
            margin-top: 10px;
        }

    .secondBarGraph {
        background-color: white;
        /* box-shadow: 0 0 8px #525252; */
        width: 60%;
        height: 100%;
        border-radius: 6px;
        /* margin: 7px; */
        text-align: right;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
    }

        .secondBarGraph canvas {
            text-align: center;
            margin-top: 10px;
        }

    .left-dashboard-low {
        height: 20%;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .firstBox {
        width: 30%;
        border-radius: 6px;
        /* height: 100px; */
        height: 100%;
        background-color: white;
        box-shadow: 0 0 8px #525252;
    }

    .firstBox-Upper {
        height: 50%;
        width: 100%;
        /* background-color: red; */
        display: flex;
    }

    .firstBox-Lower {
        height: 50%;
        width: 100%;
        /* background-color: blue; */
        display: flex;
        /* flex-direction: column;
            justify-content: flex-start; */
    }

</style>

<div class="dashboard-Background">
    
    <div class="left-dashboard">
        <div class="left-dashboard-upper">

        </div>
        <div class="left-dashboard-middle">
            <div class="firstBarGraph">
                <div class="Graph-Canvas">
                    <div class="text-Design">
                        <p><b>Average Gym Attendance</b></p>
                    </div>
                    <canvas id="entryLogsChart" width="150" height="75"></canvas>
                </div>
            </div>

            <div class="secondBarGraph">
                <div class="Graph-Canvas">
                    <p>Joining vs Leaving Members</p>
                    <canvas id="joiningLeavingMembersChart" width="110" height="44"></canvas>
                </div>
            </div>
        </div>

        <div class="left-dashboard-low">
            <div class="firstBox">
                <div class="firstBox-Upper">
                    <div class="imageContent">
                        <h1><b>Img</b></h1>
                    </div>
                    <div class="textContent">
                        <h1>21</h1>
                    </div>
                    <div class="textContentDescription">
                        <p>Members</p>
                    </div>
                </div>
                <div class="firstBox-Lower">
                    <div class="textContentLower">
                        <h4><b>Cancellation</b></h4>
                    </div>
                    <div class="textContentDescriptionLower">
                        <p><b>Today</b></p>
                    </div>
                </div>
            </div>
            <div class="firstBox">
                <div class="firstBox-Upper">
                    <div class="imageContent">
                        <h1><b>Img</b></h1>
                    </div>
                    <div class="textContent">
                        <h1>21</h1>
                    </div>
                    <div class="textContentDescription">
                        <p>Members</p>
                    </div>
                </div>
                <div class="firstBox-Lower">
                    <div class="textContentLower">
                        <h4><b>Cancellation</b></h4>
                    </div>
                    <div class="textContentDescriptionLower">
                        <p><b>Today</b></p>
                    </div>
                </div>
            </div>
            <div class="firstBox">
                <div class="firstBox-Upper">
                    <div class="imageContent">
                        <h1><b>Img</b></h1>
                    </div>
                    <div class="textContent">
                        <h1>21</h1>
                    </div>
                    <div class="textContentDescription">
                        <p>Members</p>
                    </div>
                </div>
                <div class="firstBox-Lower">
                    <div class="textContentLower">
                        <h4><b>Cancellation</b></h4>
                    </div>
                    <div class="textContentDescriptionLower">
                        <p><b>Today</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="right-dashboard">
        <div class="right-dashboard-box" style="background-color: #3DD9EB">

        </div>

        <div class="right-dashboard-box" style="background-color: #FF3131">

        </div>

        <div class="right-dashboard-box" style="background-color: #FFD803">

        </div>
    </div>

    @* <div class="welcome-Dashboard">
        <h2>Welcome <b>fullName</b>!</h2>
        <p>@DateTime.Today.ToString("dd MMMM yyyy")</p>

    </div>
    <div class="upperLayer-Dashboard">
        <div class="headingDashboard">
            <h3>Dashboard</h3>
        </div>
        <div class="upperDashboardBar">
            <div class="BarBox">
                <div class="BarBox-Icon">
                    <img src="~/images/DollarSign.png"/>
                </div>
                <div class="BarBox-Values">
                    <h1>£@Model.TotalFeesAmount</h1>
                    <p>Fees Amount</p>
                </div>
            </div>
            <div class="BarBox">
                <div class="BarBox-Icon">
                    <img src="~/images/NewMembers.png" />
                </div>
                <div class="BarBox-Values">
                    <h1>@Model.NewMembersCount</h1>
                    <p>New Members</p>
                </div>
            </div>
            <div class="BarBox">
                <div class="BarBox-Icon">
                    <img src="~/images/TotalMembers.png" />
                </div>
                <div class="BarBox-Values">
                    <h1>@Model.ActiveAdmissionMembersCount</h1>
                    <p>Active Admissions</p>
                </div>
            </div>
        </div>
    </div>

    <div class="middleLayer-Dashboard">
        <div class="firstBarGraph">
            <div class="Graph-Canvas">
                <div class="text-Design">
                    <p><b>Average Gym Attendance</b></p>
                </div>
                <canvas id="entryLogsChart" width="150" height="75"></canvas>
            </div>
        </div>


        <div class="secondBarGraph">
            <div class="Graph-Canvas">
                <p>Joining vs Leaving Members</p>
                <canvas id="joiningLeavingMembersChart" width="110" height="44"></canvas>
            </div>
        </div>
    </div>





    <div class="lastLayer-Dashboard">
        <div class="firstBox">
            <div class="firstBox-Upper">
                <div class="imageContent">
                    <h1><b>Img</b></h1>
                </div>
                <div class="textContent">
                    <h1>21</h1>
                </div>
                <div class="textContentDescription">
                    <p>Members</p>
                </div>
            </div>
            <div class="firstBox-Lower">
                <div class="textContentLower">
                    <h4><b>Cancellation</b></h4>
                </div>
                <div class="textContentDescriptionLower">
                    <p><b>Today</b></p>
                </div>
            </div>
        </div>
        <div class="firstBox">
            <div class="firstBox-Upper">
                <div class="imageContent">
                    <h1><b>Img</b></h1>
                </div>
                <div class="textContent">
                    <h1>21</h1>
                </div>
                <div class="textContentDescription">
                    <p>Members</p>
                </div>
            </div>
            <div class="firstBox-Lower">
                <div class="textContentLower">
                    <h4><b>Cancellation</b></h4>
                </div>
                <div class="textContentDescriptionLower">
                    <p><b>Today</b></p>
                </div>
            </div>
        </div>
        <div class="firstBox">
            <div class="firstBox-Upper">
                <div class="imageContent">
                    <h1><b>Img</b></h1>
                </div>
                <div class="textContent">
                    <h1>21</h1>
                </div>
                <div class="textContentDescription">
                    <p>Members</p>
                </div>
            </div>
            <div class="firstBox-Lower">
                <div class="textContentLower">
                    <h4><b>Cancellation</b></h4>
                </div>
                <div class="textContentDescriptionLower">
                    <p><b>Today</b></p>
                </div>
            </div>
        </div> *@
</div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.10/chartjs-plugin-annotation.min.js"></script>

    @section Scripts {
        <script>
            // Explanatory data for the bar graph
            var daysOfWeek = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];

            // Function to rotate array to position current day at the end
            function rotateArray(arr, count) {
                return arr.slice(count, arr.length).concat(arr.slice(0, count));
            }

            // Get the current day index (0 for Sunday, 1 for Monday, etc.)
            var currentDayIndex = new Date().getDay() - 6;

            // Rotate the daysOfWeek array to position the current day at the end
            var rotatedDays = rotateArray(daysOfWeek, currentDayIndex);

            var entryLogsPerDayData = @Html.Raw(entryLogsPerDayJson);



            var data = {
                labels: rotatedDays,
                datasets: [{
                    label: 'Number of Entries',
                    data: entryLogsPerDayData,
                    // data: [4, 8, 12, 6, 10, 18, 7], // Replace with your actual data data: entryCounts,
                    backgroundColor: '#304D70',
                    borderColor: '#304D70',
                    borderWidth: 1,
                    borderRadius: 7,
                    borderSkipped: false,
                }]
            };


            // Bar graph options
            var options = {
                scales: {
                    x: {
                        type: 'category',
                        position: 'bottom',
                        grid: {
                            display: false,
                        },
                        ticks: {
                            color: 'black'
                        },
                        border: {
                            display: false
                        },
                    },
                    y: {
                        beginAtZero: true,
                        ticks: {
                            display: false
                        },
                        grid: {
                            display: false,
                        },
                        border: {
                            display: false
                        },
                    },
                },
                plugins: {
                    legend: {
                        display: false // Set to false to hide legend
                    }
                },
                indexAxis: 'x', // Set the axis for barPercentage and categoryPercentage
                barPercentage: 0.9, // Adjust the bar width (0.5 means 50% of the available space)
                // categoryPercentage: 0.01 // Adjust the space between bars (0.7 means 70% of the available space)
            };

            // Create bar graph
            var ctx = document.getElementById('entryLogsChart').getContext('2d');
            var entryLogsChart = new Chart(ctx, {
                type: 'bar',
                data: data,
                options: options
            });
        </script>













        <script>
            var monthsOfYear = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

            function rotateArray(arr, count) {
                return arr.slice(count, arr.length).concat(arr.slice(0, count));
            }

            var currentMonthIndex = new Date().getMonth() + 1;
            var rotatedMonths = rotateArray(monthsOfYear, currentMonthIndex);

            var gradientJoining = ctx.createLinearGradient(0, 0, 0, 300);
            gradientJoining.addColorStop(0, 'rgba(255, 216, 3, 1)'); // Starting color
            gradientJoining.addColorStop(1, 'rgba(255, 216, 3, 0)'); // Ending color

            var gradientLeaving = ctx.createLinearGradient(0, 0, 0, 300);
            gradientLeaving.addColorStop(0, 'rgba(82, 82, 82, 1)'); // Starting color
            gradientLeaving.addColorStop(1, 'rgba(82, 82, 82, 0)'); // Ending color

            var data = {
                labels: rotatedMonths,
                datasets: [
                    {
                        label: 'Joining Members',
                        data: [@string.Join(",", @Model.MembersJoinedPerMonth.Values.Reverse().Select(entry => entry.Count))],
                        borderColor: '#304D70',
                        backgroundColor: gradientJoining,
                        borderWidth: 1,
                        pointRadius: 0,
                        tension: 0.4,
                        hoverRadius: 8,
                        hitRadius: 10,
                        fill: true,
                    },
                    {
                        label: 'Leaving Members',
                        data: [@string.Join(",", @Model.MembersLeftPerMonth.Values.Reverse().Select(entry => entry.Count))],
                        borderColor: '#41B8D5',
                        backgroundColor: gradientLeaving,
                        borderWidth: 1,
                        pointRadius: 0,
                        tension: 0.4,
                        hoverRadius: 8,
                        hitRadius: 10,
                        fill: true,
                    }
                ]
            };

            var options = {
                scales: {
                    x: {
                        type: 'category',
                        position: 'bottom',
                        grid: {
                            display: false,
                        },
                        ticks: {
                            color: 'black'
                        },
                        border: {
                            display: false
                        },
                    },
                    y: {
                        beginAtZero: true,
                        ticks: {
                            display: false
                        },
                        grid: {
                            display: true,
                        },
                        border: {
                            display: false
                        },
                    },
                },
                plugins: {
                    legend: {
                        display: false
                    },
                    tooltip: {
                        enabled: true,
                        intersect: false,
                    }
                },
                interaction: {
                    mode: 'nearest',
                },
            };

            var ctx = document.getElementById('joiningLeavingMembersChart').getContext('2d');
            var joiningLeavingMembersChart = new Chart(ctx, {
                type: 'line',
                data: data,
                options: options
            });
        </script>
    }
</div>
